body {
    font-size: 16px;
}

/* Start Index posts page  */
nav .container .search input{
    width: 330px;
}
.navbar-nav img {
    border-radius: 50%;
}

.py-4 {
    padding-top: 6.5rem !important;
}

.container .posts .post-data{
    padding: 1.25rem;
    padding-bottom: 0;
}

.container .posts .card-body {
    padding: 0;
    padding-bottom: 1.25rem;
}
.container .right-content {
    position: -webkit-sticky;
    position: sticky;
    top: 6.5rem;
    padding-top: 50px;

}
/* End index posts page */